# VCP Hi-Fi Audio Engine 配置
VCP_AUDIO_EQ_TYPE=FIR
VCP_AUDIO_TARGET_SAMPLERATE=192000
VCP_AUDIO_USE_CACHE=true
VCP_AUDIO_PREEMPTIVE_RESAMPLE=true
VCP_AUDIO_RESAMPLE_QUALITY=hq
# VCP_AUDIO_CACHE_DIR=./resample_cache
